---
import { Icon } from "astro-icon/components";

export interface Props {
  title: string;
  description: string;
  class?: string;
}

const { title, description, class: clazz } = Astro.props;

const image = new URL(
  `https://image.luxass.dev/api/image/emoji?input=${encodeURIComponent(
    JSON.stringify({
      width: 300,
      height: 300,
    }),
  )}`,
);
---

<!doctype html>
<html lang="en">
  <head>
    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="https://image.luxass.dev/api/image/emoji" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="luxass.dev" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
  </head>
  <body class="font-sans">
    <header>
      <nav class="flex flex-wrap items-center justify-between">
        <h1 id="random-emoji" class="cursor-pointer text-2xl">📦 GitHub Emojis</h1>

        <div class="flex items-center justify-between gap-2">
          <a
            href="https://github.com/luxass/github-emojis"
            target="_blank"
            rel="noopener noreferrer"
            title="GitHub"
            aria-label="GitHub"
          >
            <Icon name="mdi:github" size={32} />
          </a>
        </div>
      </nav>
    </header>
    <main class="mt-8 flex flex-col" class:list={clazz}>
      <slot />
    </main>
    <style is:global>
      html {
        @apply: antialiased touch-manipulation scroll-smooth text-base;
        text-rendering: optimizeLegibility;
      }

      body {
        @apply: max-w-6xl lg:!mx-auto !mx-4 py3 md:px14 md:py10 dark:bg-#111 dark:text-white;
      }
    </style>
  </body>
</html>

<script>
  const EMOJIS = ["📦", "🚀", "🔥", "🎉", "🙌", "🤖"];

  const randomEmojiElement = document.getElementById("random-emoji");

  if (randomEmojiElement) {
    randomEmojiElement.addEventListener("click", () => {
      randomEmojiElement.textContent = `${EMOJIS[Math.floor(Math.random() * EMOJIS.length)]} GitHub Emojis`;
    });
  }
</script>
